.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: block;
  color: white
}

.navbar-links {
  margin: auto;
  padding: 1rem;
  text-align: center;
  justify-content: center;
  color: lightsteelblue;
  background-color: #16181b;
}

.navbar-links a.active {
  color: white;
}

.link {
  margin: 1rem;
  text-decoration: none;
  color: lightsteelblue;
}